<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="julianwi.javainstaller"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="jackpal.androidterm.permission.RUN_SCRIPT" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="jackpal.androidterm.permission.APPEND_TO_PATH" >
    </uses-permission>

    <application
        android:icon="@drawable/duke"
        android:label="Java installer" >
        <uses-library
            android:name="jackpal.androidterm"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="Java installer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name=".RunActivity"
            android:label="Java runner"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/java-archive"/>
            </intent-filter>
        </activity>
        <activity 
            android:name=".SettingsActivity"
            android:label="Settings">
        </activity>
        <receiver android:name=".PathReceiver">
            <intent-filter>
                <action android:name="jackpal.androidterm.broadcast.APPEND_TO_PATH" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
